---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { WebmentionsChildren } from "@/types";

interface Props {
	webmentions: WebmentionsChildren[];
}

const { webmentions } = Astro.props;

const validComments = ["mention-of", "in-reply-to"];

const comments = webmentions.filter(
	(webmention) => validComments.includes(webmention["wm-property"]) && webmention.content?.text,
);

/**
 ! show a link to the mention 

 */
---

{
	!!comments.length && (
		<div>
			<p class="mb-0 text-accent-2">
				<strong>{comments.length}</strong> Mention{comments.length > 1 ? "s" : ""}
			</p>
			<ul class="mt-0 divide-y divide-textColor/20 ps-0" role="list">
				{comments.map((webmention) => (
					<li class="my-0 flex items-start gap-x-5 py-5">
						{webmention.author?.photo && webmention.author.photo !== "" ? (
							webmention.author.url && webmention.author.url !== "" ? (
								<a
									href={webmention.author.url}
									class="not-prose shrink-0 overflow-hidden rounded-full outline-none ring-2 ring-textColor hover:ring-4 hover:ring-link focus-visible:ring-4 focus-visible:ring-link"
									target="_blank"
									rel="noopener noreferrer"
									title={webmention.author.name}
								>
									<Image
										class="my-0 h-12 w-12"
										src={webmention.author?.photo}
										alt={webmention.author?.name}
										width={48}
										height={48}
									/>
								</a>
							) : (
								<Image
									class="my-0 h-12 w-12 rounded-full"
									src={webmention.author?.photo}
									alt={webmention.author?.name}
									width={48}
									height={48}
								/>
							)
						) : null}
						<div class="flex-auto">
							<div class="flex items-center justify-between gap-x-2">
								<p class="my-0 line-clamp-1 font-semibold text-accent-2">
									{webmention.author?.name}
								</p>
								<a
									href={webmention.url}
									class="not-prose hover:text-link"
									target="_blank"
									rel="noopener noreferrer"
									title="Vist the source of this mention"
								>
									<Icon
										class="h-5 w-5"
										name="mdi:open-in-new"
										aria-hidden="true"
										focusable="false"
									/>
								</a>
							</div>
							<p class="mb-0 mt-1 break-words [word-break:break-word]">
								{webmention.content?.text}
							</p>
						</div>
					</li>
				))}
			</ul>
		</div>
	)
}
