---
import { Image } from "astro:assets";
import type { WebmentionsChildren } from "@/types";
import { Icon } from "astro-icon/components";

interface Props {
  mentions: WebmentionsChildren[];
}

const { mentions } = Astro.props;

const validComments = ["mention-of", "in-reply-to"];

const comments = mentions.filter(
  (mention) =>
    validComments.includes(mention["wm-property"]) && mention.content?.text,
);
---

{
  !!comments.length && (
    <div>
      <p class="webmention-meta">
        <strong>{comments.length}</strong> Mention
        {comments.length > 1 ? "s" : ""}
      </p>
      <ul class="webmention-items" role="list">
        {comments.map((mention) => (
          <li class="p-comment h-cite webmention-item">
            {mention.author?.photo && mention.author.photo !== "" ? (
              mention.author.url && mention.author.url !== "" ? (
                <a
                  class="u-author not-prose webmention-avatar"
                  href={mention.author.url}
                  rel="noreferrer"
                  target="_blank"
                  title={mention.author.name}
                >
                  <Image
                    alt={mention.author?.name}
                    class="u-photo webmention-photo"
                    height={48}
                    src={mention.author?.photo}
                    width={48}
                  />
                </a>
              ) : (
                <Image
                  alt={mention.author?.name}
                  class="u-photo webmention-photo"
                  height={48}
                  src={mention.author?.photo}
                  width={48}
                />
              )
            ) : null}
            <div class="webmention-body">
              <div class="p-author h-card webmention-header">
                <p class="p-name webmention-author">{mention.author?.name}</p>
                <a
                  aria-labelledby="cmt-source"
                  class="u-url not-prose webmention-link"
                  href={mention.url}
                  rel="noreferrer"
                  target="_blank"
                >
                  <span class="sr-only" id="cmt-source">
                    Visit the source of this webmention
                  </span>
                  <Icon
                    aria-hidden="true"
                    class="webmention-icon"
                    focusable="false"
                    name="ph:arrow-square-out"
                  />
                </a>
              </div>
              <p class="comment-content webmention-text">
                {mention.content?.text}
              </p>
            </div>
          </li>
        ))}
      </ul>
    </div>
  )
}
