---
import { render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";
import { getEntryParams } from "@/utils/params";
import { Icon } from "astro-icon/components";
import type { CollectionEntryType } from "@/types";
import { YouTube } from "astro-embed";
import { siteConfig } from "@/site.config";
import { Image } from "astro:assets";
import myImage from "@/assets/logo.png";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  entry: CollectionEntryType;
};

const { entry } = Astro.props;
const { Content } = await render(entry);

const { path } = getEntryParams(entry);
const isArticle = entry.collection === "article";
const isCheckin = entry.collection === "checkin";
const isBookmark = entry.collection === "bookmark";

// Set title based on entry type
let title = "";
if (isArticle || isBookmark) {
  title = entry.data.title;
} else if (isCheckin) {
  title = `at ${entry.data.checkin[0]?.properties.name ?? "Unknown Location"}`;
}

// Set a prefix for some entries
let prefix = "";
if (isBookmark) {
  prefix = "Bookmarked ";
} else if (isCheckin) {
  prefix = "At ";
}

// Set href for the title link
const href = isBookmark ? entry.data["bookmark-of"] : `/${path}/`;
---

<article class="h-entry content-box entry-card">
  {
    title && (
      <header class="entry-card-header">
        {entry.data.draft && <span class="draft-tag">(Draft) </span>}
        <h3 class="entry-card-title">
          {prefix}
          <a class="custom-link" data-astro-prefetch href={href}>
            {title}
          </a>
        </h3>
      </header>
    )
  }
  <!-- Add openstreetmap tile for location data in checkin -->
  <div class="prose entry-card-content line-clamp-6">
    {
      entry.data.description ? (
        <p>{entry.data.description}</p>
      ) : isBookmark && entry.data["bookmark-of"].includes("youtube.com") ? (
        <>
          <YouTube id={entry.data["bookmark-of"]} />
          <Content />
        </>
      ) : (
        <Content />
      )
    }
  </div>
  <footer class="entry-card-meta">
    <span>
      {
        isArticle ? (
          <Icon name="ph:newspaper" class="entry-card-icon" />
        ) : isCheckin ? (
          <Icon name="ph:map-pin" class="entry-card-icon" />
        ) : isBookmark ? (
          <Icon name="ph:bookmark" class="entry-card-icon" />
        ) : (
          <Icon name="ph:note" class="entry-card-icon" />
        )
      }
    </span> -
    <a class="u-uid u-url custom-link mono" href={`/${path}/`}>
      <FormattedDate date={entry.data.date} />
    </a>
    <div class="is-hidden">
      <!-- This is for the h-card microformat -->
      <span class="p-author h-card">
        <a href="/" class="p-name u-url">{siteConfig.author}</a>
        <Image src={myImage} alt="Logo of myself" class="u-photo is-hidden" />
      </span>
    </div>
  </footer>
</article>
