---
import { SITE, SOCIALS } from "@consts";
import Link from "@components/Link.astro";
import { Icon } from "astro-icon/components";
---

<ul class="flex flex-wrap gap-2">
  {
    SOCIALS.map((SOCIAL) => (
      <li class="flex gap-x-2 text-nowrap">
        <Link
          href={SOCIAL.HREF}
          external
          aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
        >
          <Icon
            class="h-6 w-6"
            name={SOCIAL.ICON}
            aria-hidden="true"
            focusable="false"
          />
          <span class="sr-only">{SOCIAL.NAME}</span>
        </Link>
        {"/"}
      </li>
    ))
  }
</ul>
